# Logs
logs
*.log
npm-debug.log*

# Typescript v1 declaration files
typings/

# VScode
.vscode/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

node_modules
.DS_Store
dist
dist-ssr
*.local
package-lock.json