.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex !important;
  justify-content: space-between !important;
  height: 100%;
}

.bottom-aligned {
  margin: 0px;
  margin-top: auto;
}

.date-picker-field > .field {
  display: inherit !important;
}

.react-datepicker {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.react-datepicker__header {
  background-color: white !important;
}

.react-datepicker-popper {
  z-index: 99999 !important;
}

.react-datepicker__day {
  width: 2.2rem !important;
  height: 2.2rem !important;
  line-height: 2.3rem !important;
  font-size: 1rem !important;
}

.react-datepicker__day:hover {
  background-color: lightgray !important;
}

.react-datepicker__day-name {
  width: 2.2rem !important;
}

.react-datepicker__triangle {
  transform: translate(75px) !important;
}

.react-datepicker__day--outside-month {
  color: lightgray !important;
}

.react-datepicker__day--outside-month:hover {
  background-color: white !important;
}

#landing-header h1 {
  font-weight: normal;
}

#landing-header h2 {
  font-weight: normal;
}

.landing-segment {
  padding: 6rem 0rem !important;
}

#home-page h1 {
  font-size: 4rem;
}

#home-page h2 {
  font-size: 2rem;
}

#home-page h3 {
  font-size: 1.8rem;
}

#home-page p {
  font-size: 1.3rem;
}

#home-page img {
  margin-left: auto;
  margin-right: auto;
}
